In [81]:
import pandas as pd
import numpy as np

import wrds

import os
from dotenv import dotenv_values
config = dotenv_values(".env")

from mylib.load_from_wrds import query_options_stock
from mylib.rates_tools import create_yield_curve, merge_interest
from mylib.construct_tracer import construct_tracer
from mylib.BS_formulas import bs_delta

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [78]:
secid = 113993
name = "Game Stop"
ticker = "GME"

startdate = '2019-01-01'
enddate = '2022-12-31'

# Download data from WRDS and create option dataframe

In [82]:
%%time

db = wrds.Connection(wrds_username = config['WRDS_USER'])

df_option = query_options_stock(db, secid, startdate=startdate, enddate=enddate)
df_dividend = query_dividend(db, secid, startdate=startdate, enddate=enddate)
zero_curve = query_zero_curve(db, startdate=startdate, enddate=enddate)

db.close()

Loading library list...
Done
CPU times: user 4.41 s, sys: 2.58 s, total: 6.99 s
Wall time: 34.3 s

Add interest rates and underlying info to options dataframe:

In [83]:
%%time

df_rate = create_yield_curve(zero_curve, max_days=1500) 
df = merge_interest(df_option, df_rate)

CPU times: user 1.77 s, sys: 1.19 s, total: 2.96 s
Wall time: 3 s

In [ ]:
def add_tomorrow(df):
    # df is already sorted in time

# !!!To do/discuss: implement dividends somehow for pricer

In [50]:
df_dividend

      secid record_date distr_type  amount    ex_date
0  113993.0  2019-03-15          1    0.38 2019-03-14
1  113993.0  2022-07-18          3    0.00 2022-07-22

In [49]:
df_option

,secid,date,exdate,cp_flag,impl_volatility,delta,volume,open_interest,tau_days,tau,K,V0
521,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,7.0,6.025
522,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,7.5,5.875
523,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,8.0,4.885
524,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,8.5,4.305
525,113993.0,2019-01-02,2019-01-04,C,NaN,NaN,0.0,0.0,2,0.005556,9.0,3.305
...,...,...,...,...,...,...,...,...,...,...,...,...
1322382,113993.0,2022-12-30,2025-01-17,P,1.049775,-0.433378,0.0,32.0,749,2.080556,40.0,26.350
1322219,113993.0,2022-12-30,2025-01-17,P,1.055717,-0.470836,0.0,3.0,749,2.080556,45.0,30.750
1321953,113993.0,2022-12-30,2025-01-17,P,1.061772,-0.504814,4.0,8.0,749,2.080556,50.0,35.225
1322737,113993.0,2022-12-30,2025-01-17,P,1.065655,-0.537849,0.0,118.0,749,2.080556,55.0,39.750
1322546,113993.0,2022-12-30,2025-01-17,P,1.073816,-0.565639,0.0,117.0,749,2.080556,60.0,44.375

In [ ]:
!!! call of bs

# Construct tracer options

In [67]:
%%time

df_tracer = pd.DataFrame()
for target_tau in [30, 60, 90, 120, 150, 180]:
    for cp_flag in ['C', 'P']:
        df_tmp = construct_tracer(df, df_rate, cp_flag, target_tau)
        df_tracer = pd.concat([df_tracer, df_tmp])

CPU times: user 21.3 s, sys: 697 ms, total: 22 s
Wall time: 22 s

In [69]:
df_tracer

,date,close,IV_interp,K,cp_flag,tau_days,short_rate,r,bs_price
0,2019-01-02,13.07,0.607807,13.07,C,30,0.024478,0.025773,0.926809
1,2019-01-03,12.97,0.612299,12.97,C,30,0.024459,0.025784,0.926399
2,2019-01-04,15.24,0.660463,15.24,C,30,0.024428,0.025974,1.172731
3,2019-01-07,15.48,0.681652,15.48,C,30,0.024378,0.026176,1.228875
4,2019-01-08,15.81,0.535316,15.81,C,30,0.024416,0.026244,0.990013
...,...,...,...,...,...,...,...,...,...
1003,2022-12-23,20.08,1.155642,20.08,P,180,0.039600,0.046990,6.063807
1004,2022-12-27,18.20,1.152101,18.20,P,180,0.039761,0.047079,5.479045
1005,2022-12-28,17.92,1.169645,17.92,P,180,0.039871,0.047149,5.474887
1006,2022-12-29,18.33,1.161997,18.33,P,180,0.039950,0.047207,5.563926
1007,2022-12-30,18.46,1.166514,18.46,P,180,0.039973,0.047251,5.624479

In [71]:
21/252 * 12

1.0

# Calculate implied dividend rate

In [33]:
def calc_syn_implied_div(df):
    ## implied dividend
    
    df_c = df[(df['cp_flag'] == 'C')]
    df_p = df[(df['cp_flag'] == 'P')]
    df_calc_rate = df_c[['date', 'K', 'tau_days', 'V0', 'IV_interp']].merge(
                   df_p[['date', 'K', 'tau_days', 'V0', 'IV_interp', 'short_rate', 'r']], on=['date', 'K', 'tau_days'], 
                   suffixes=['_C', '_P'])

    
    df_implied_rate = pd.DataFrame()
    i = 0
    for idx, group in df_calc_rate.groupby(['date', 'tau_days']):
        implied_d = []        

        for j, row in group.iterrows():
            date = row.loc['date']
            expiration = row.loc['tau_days']
            S = row['K']
            K = row['K']
            T = row['tau_days']/360.0
            IV_0 = (row['IV_interp_C'] + row['IV_interp_P']) / 2.0
            r_0 = row['r']

            CPop = row['V_interp_C'] - max(S - K, 0)
            PPop = row['V_interp_P'] - max(K - S, 0)
            d_0 = (-(CPop - PPop - r_0 * K * T)/(S * T))
            c_d_0 = 1/T * np.log((-(CPop - PPop)-(K-S)+np.exp(r_0 * T) * K)/S)

        df_implied_rate.loc[i,'date'] = idx[0] 
        df_implied_rate.loc[i,'tau_days'] = idx[1]
        df_implied_rate.loc[i,'impl_div0'] = d_0
        df_implied_rate.loc[i,'impl_cdiv0'] = c_d_0
        df_implied_rate.loc[i,'K'] = np.unique(df_calc_rate.loc[(df_calc_rate['date'] == idx[0]) & (df_calc_rate['tau_days'] == idx[1]), 'K'].values)[0]
        i += 1
    
    df_implied_rate['impl_div0'] = df_implied_rate['impl_div0'].fillna(value=0)
    df_implied_rate['impl_cdiv0'] = df_implied_rate['impl_cdiv0'].fillna(value=0)

    df_out = df.merge(df_implied_rate[['date', 'tau_days', 'impl_div0','impl_cdiv0']], on = ['date', 'tau_days'], how = 'left')
    df_out['impl_div0'] = df_out['impl_div0'].fillna(value=0)
    df_out['impl_cdiv0'] = df_out['impl_cdiv0'].fillna(value=0)
    return df_out

In [ ]:
%%time

## calculate implied dividend
df_syn = calc_syn_implied_div(df_tracer)
df_syn['tau'] = df_syn['tau_days'] / 360.

print('Implied dividend '+ str(secid) + ' done')

# Calculate adjusted delta

In [ ]:
df_syn['adjDelta'] = df_syn.apply(lambda row: bs_delta(row['IV_interp'], row['K'], row['K'], row['tau'], row['r'], row['impl_cdiv0'], row['cp_flag']), axis=1)
df_syn